.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;

  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/barry-1.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/katsu-1.jpg);
    }

    &--3{
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/bumi-1.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

    &__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
      }

      &--2 {
        background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
      }

      &--3 {
        background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
      }
    }

  &__details {
    text-align: center;
    font-size: 1.4rem;
  }


  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__stats {
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;

    ul {
      color: white;
      list-style: none;
      width: 88%;
      margin: 0 auto;
      margin-bottom: 10rem;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-dark;
        }
      }
    }
  }

  @include respond(tab-port){
  // using media query instead for a second conditional but :hover is changed to double tap
  // @media only screen and (max-width: 56.25em),
  //        only screen and (hover: none) {

      position: relative;
      height: auto;
      border-radius: 3px;
      background-color: $color-white;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

      &__side {
        height: auto;
        position: relative;
        box-shadow: none;


        &--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        }
      }

      &__picture {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      }

      &__details {
        text-align: none;
        font-size: 1.4rem;
        padding: 1rem;
        position: relative;
        top: 0;
        left: 6rem;
        width: 75%;
        margin-bottom: 2rem;
      }


      &:hover &__side--front {
        transform: rotateY(0);
      }

      &__stats {
        padding: 7rem 3rem 3rem 3rem;
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        text-align: center;
        padding: 4rem;

        ul {
          margin-bottom: 4rem;
        }
      }

  }

}
